<div class="container">
  <h1> I've got a secret </h1>
  <form action="/create" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="create new user">
  </form>
</div>
